*{margin:0;padding:0;}
body{
	font-family:"宋体";
	font-size:16px;
}
ul li{list-style:none;}

.box{width:100%;height:100%;}

.box_top{
	width:100%;
	height:80px;
	border-bottom:1px solid gray;
	margin:3px auto;
	background-color:#cccccc;
}

.box .box_top .nav{
	width:500px;
	height:75px;
	/*border:1px solid gray;*/
	margin:1px auto;
}

.nav ul li{
	float:left;
	border:1px solid red;
	width:50px;
	height:30px;
	margin-left:9px;
	margin-top:30px;
	text-align:center;
	line-height:30px;
}